In [7]:
list_nilai_mahasiswa = [37,69,75,85,50,60,70,80,90,100,]
print("List Nilai Mahasiswa : \n",list_nilai_mahasiswa)
print("\nJumlah Index list nilai mahasiswa (len) : \n", len(list_nilai_mahasiswa))
print("\nJumlah Nilai 69 Dalam List (count) : \n", list_nilai_mahasiswa.count(69))
print("\nMenambaahkan element dalam list (append):")
list_nilai_mahasiswa.append(83)
list_nilai_mahasiswa.append(1)
print("List nilai mahasiswa:", list_nilai_mahasiswa)
list_nilai_mahasiswa.insert(60,73)
print("\nTambah Nilai Mahasiswa(insert):\n", list_nilai_mahasiswa)
list_nilai_mahasiswa.pop()
list_nilai_mahasiswa.pop()
print("\nList nilai mahasiswa (pop):\n",list_nilai_mahasiswa)
list_nilai_mahasiswa.remove(50)
list_nilai_mahasiswa.remove(37)
print("\nList nilai mahasiswa (remove):\n", list_nilai_mahasiswa)
list_nilai_mahasiswa2 = [60,75,85,90]
list_nilai_mahasiswa.extend(list_nilai_mahasiswa2)
print("\nList Nilai mahasiswa(extend):\n", list_nilai_mahasiswa)
list_nilai_mahasiswa.reverse()
print("\nList Nilai mahasiswa(reverse):\n", list_nilai_mahasiswa)
list_nilai_mahasiswa.sort()
print("\nList Nilai mahasiswa(sort):\n", list_nilai_mahasiswa)
print("\nList Nilai mahasiswa(max):\n", max(list_nilai_mahasiswa))
print("\nList Nilai mahasiswa(min):\n", min(list_nilai_mahasiswa))
print("\ntotal penjumlahan nilai dari list_nilai_mahasiswa (sum):\n", sum(list_nilai_mahasiswa))

List Nilai Mahasiswa :
 [37, 69, 75, 85, 50, 60, 70, 80, 90, 100]

Jumlah Index list nilai mahasiswa (len) :
 10

Jumlah Nilai 69 Dalam List (count) :
 1

Menambaahkan element dalam list (append):
List nilai mahasiswa: [37, 69, 75, 85, 50, 60, 70, 80, 90, 100, 83, 1]

Tambah Nilai Mahasiswa(insert):
 [37, 69, 75, 85, 50, 60, 70, 80, 90, 100, 83, 1, 73]

List nilai mahasiswa (pop):
 [37, 69, 75, 85, 50, 60, 70, 80, 90, 100, 83]

List nilai mahasiswa (remove):
 [69, 75, 85, 60, 70, 80, 90, 100, 83]

List Nilai mahasiswa(extend):
 [69, 75, 85, 60, 70, 80, 90, 100, 83, 60, 75, 85, 90]

List Nilai mahasiswa(reverse):
 [90, 85, 75, 60, 83, 100, 90, 80, 70, 60, 85, 75, 69]

List Nilai mahasiswa(sort):
 [60, 60, 69, 70, 75, 75, 80, 83, 85, 85, 90, 90, 100]

List Nilai mahasiswa(max):
 100

List Nilai mahasiswa(min):
 60

total penjumlahan nilai dari list_nilai_mahasiswa (sum):
 1022